# PostgreSQL. Versions 9.3 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On macOS with Homebrew:
#   gem install pg -- --with-pg-config=/opt/homebrew/bin/pg_config
#
# Configure Using Gemfile
# gem "pg"

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: backend_development
  username: postgres
  password: ""
  host: localhost
  port: 5433

test:
  <<: *default
  database: backend_test
  username: postgres
  password: ""
  host: localhost
  port: 5433

# Production uses ENV vars (do not hardcode passwords here)
production:
  primary: &primary_production
    <<: *default
    database: backend_production
    username: postgres
    password: <%= ENV["BACKEND_DATABASE_PASSWORD"] %>
    host: localhost
    port: 5433

  cache:
    <<: *primary_production
    database: backend_production_cache
    migrations_paths: db/cache_migrate

  queue:
    <<: *primary_production
    database: backend_production_queue
    migrations_paths: db/queue_migrate

  cable:
    <<: *primary_production
    database: backend_production_cable
    migrations_paths: db/cable_migrate
